.google-map {
    width: 50vw;
    height: 35vh;
    margin-top: 3vh;
  }
  
.menu-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.menu-selection {
  width: 20%;
  height: 175%;
}

.menu-selection:hover {
  color: rosybrown;
}

button {
  background:none; 
  border:none;
}

@media screen and (max-device-width:640px), screen and (max-width:640px) {
  .google-map {
    width: 80vw;
    height: 30vh;
  }

  .menu-buttons {
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

  .menu-selection {
    width: 100%;
  }
}

.component {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.3s all;
  opacity: 1;
  pointer-events: auto;
  z-index: 1;
}

.hide-component{
  opacity: 0;
  pointer-events: none;
  z-index: -1;
}
