.google-map {
    width: 40vw;
    height: 25vh;
    margin-top: 3vh;
  }
  
.menu-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.menu-selection {
  width: 20%;
  height: 175%;
}

button {
  background:none; 
  border:none;
}
