.google-map {
    width: 50vw;
    height: 35vh;
    margin-top: 3vh;
  }
  
.menu-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.menu-selection {
  width: 20%;
  height: 175%;
}

.menu-selection:hover {
  color: rosybrown;
}

button {
  background:none; 
  border:none;
}

@media screen and (max-device-width:640px), screen and (max-width:640px) {
  .google-map {
    width: 70vw;
    height: 30vh;
  }
}
